$white: #ffffff;
$black: #000000;
$background-color-linen: #f8e5d6;
$background-color-persimmon: #ff5b5b;
$background-color-white-linen: #faf2ec;
$text-color-tuna: #333438;
$link-color-nutmeg: #834825;
$input-border-edward: #9da4a6;
$input-border-jagged-ice: #b8e5e3;
$book-background-color-chambray: #3b4e8d;
$book-background-color-havelock-blue: #5091d6;
$book-background-color-linen: #f8e5d6;
$book-box-shadow: rgba(0, 0, 0, 0.2);
$book-box-shadow-silver: #c4c4c4;
