@import '../../styles/colors';

.book {
  align-self: center;
  align-items: center;
  height: 100%;
  border-radius: 2px 16px 16px 2px;
  position: relative;

  &-small {
    width: 100%;
    min-height: 215px;
    background-color: $book-background-color-chambray;

    .book-mark {
      width: 15px;
      background-color: $book-background-color-havelock-blue;
    }

    .book-title {
      max-height: 215px;
      color: $white;
    }
  }

  &-big {
    width: 90%;
    height: 100%;
    max-height: 354px;
    background-color: $background-color-linen;
    box-shadow: inset 0px -4px 4px $book-box-shadow-silver,
      inset -2px -2px 2px $book-box-shadow;
  }

  &-mark {
    width: 30px;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 4px $book-box-shadow;
    border-radius: 2px 0px 0px 2px;
  }

  &-title {
    font-family: 'Abhaya Libre', serif;
    width: 75%;
    padding: 0 10% 0 15%;
    // word-break: break-all;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
